<!DOCTYPE html>
<html>
<head>
    <title>Send an email!</title>
</head>
<body>
    <form method = "post">
        <label for = "sender_email">Your email address:</label><br>
        <input type = "text" id = "senderEmail" name = "sender_email" autocomplete = "off"><br>
        <label for = "recipient_email">Recipient email address:</label><br>
        <input type = "text" id = "recipientEmail" name = "recipient_email" autocomplete = "off"><br>
        <label for = "subject">Subject:</label><br>
        <input type = "text" id = "subject" name = "subject" autocomplete = "off"><br>
        <label for = "email_content">Email content:</label><br>
        <textarea id = "emailContent" name = "email_content" cols = "50" rows = "10"></textarea>
        <input type = "submit" value = "Send">
    </form>
</body>
</html>